{% extends 'base.html' %}
{% block conteudo %}

<!--testando pra saber se há sessão aberta-->
{% if session.usuario %}
    <!--cria um botão para deslogar-->
    <section>
        <a href='/admin/sair'>Sair</a>
        <article>
            <div>
                <p>{{ msg }}</p>
            </div>
            <h1>Olá {{session.usuario}}, seja bem vindo! </h1>
            <h3>Suas notas:</h3>
            <ul>
                {% for nota in notas %}
                    <li>{{ nota }}</li>
                {% endfor %}
            </ul>
            {{ teste }}
        </article>
    </section>
{% else %}
    <section>
        <article>
            <h1>Erro: Usuário não logado</h1>
        </article>
    </section>
 {% endif %}

{% endblock %}