{% extends 'base.html' %}

{% block conteudo %}

<section>
    <article>
        <form action='' method='POST'>
            <div>
                <label for='txt-usuario'>Usuário: </label>
                <input type='text' id='txt-usuario' name='usuario'>
            </div>
            <div>
                <label for='txt-senha'>Senha: </label>
                <input type='password' id='txt-senha' name='senha'>
            </div>
            <div>
                <button type='submit' id='bt-login'>Entrar</button>
            </div>
        </form>
        <div>
            <p>{{ p_msg }}</p>
        </div>

    </article>
</section>


{% endblock %}