{% extends 'base.html' %}

<!--chamando o script de verificação AJAX-->
{% block scripts %}
<script src="../static/scripts/login.js" defer></script>
{% endblock %}


{% block conteudo %}
<section>
    <article>
        <form action='' method='POST'>
            <div>
                <label for='txt-usuario'>Usuário: </label>
                <input type='text' id='txt-usuario' name='usuario'>
            </div>
            <div>
                <label for='txt-senha'>Senha: </label>
                <input type='password' id='txt-senha' name='senha'>
            </div>
            <div>
                <button type='submit' id='bt-login'>Entrar</button>
            </div>
        </form>
        <p id='msg-erros'></p>
        <div>
            <p>{{ p_msg }}</p>
        </div>

    </article>
</section>
{% endblock %}