{% extends 'base.html' %}
{% block conteudo %}
<section>
	<article>
		<header><h3>Quem sou eu?</h3></header>
		<p>
			<div itemscope itemtype="http://schema.org/Person">
				<span itemprop="name">Christopher Henrique de Oliveira</span><br>
				<span itemprop="jobTitle">Desenvolvedor Jr. | JavaScript | Python</span><br>
				<span itemprop="address">São Paulo, SP, Brazil</span><br>
				<span itemprop="email"><a href="mailto: christopher.h.oliveira@gmail.com">christopher.h.oliveira@gmail.com</a></span><br>
			</div>
			<div itemscope itemtype="http://schema.org/Person">
				<a href="https://www.linkedin.com/in/christopherholiveira/" target="blank">TESTE LINK</a>
		
		</div>
			<img src="static/imagens/bit_monkey.png" width="300 erm" />
		</p>
	</article>
</section>

<section>
	<article>
		<header><h3>O que você está fazendo aqui?</h3></header>
		<p>text jkhdfsbglih fvlihsdfkhd sflgih
		sudjhfgkisud hyfbglkisdfhgbld hsfbgsdgsdf
		sdfgvbsdfvg dfgbsd fggsdfggdfgg dfgdsfg
		dfsdfgvf fsfdg f gsdfgfsdgsdf g sdgdfgdfsg sdfg  dfgbsdfsd 
		dfgs 
		df gsdfgfsdgsdfg sdfggd fsg
		sdfg 
		dsfg dfgsdfgsdf gsdfgdfs dfg dfg dfg sdfgsdfg sdfg sdfgdf sg 
		dfsgsdfgsdfgsdfg sdfghsrthrhftghfghdj tgujkyhugjk fgjfghjfgj fty jfghj
		ghfj
		fghd fghdj hgroupfjghfg hfj
		hfg jfghjfghj jdfghjj
		o</p>
	</article>
	<article>
		<header><h3>Listas em HTML5</h3></header>
		<p>Listas ordenadas
			<ol>
				<li>Ciências da Vida</li>
				<li>Tecnologia</li>
				<li>Games</li>
			</ol>
			</p><br>
		<p>Listas não ordenadas
			<ul>
				<li>Bushcraft</li>
				<li>Churrasco</li>
				<li>Natação</li>
			</ul>
		</p>				
	</article>
	<article>
		<header><h3>Tabelas em HTML5</h3></header>
		<p>
			<table border="1">
				<thead>
					<th>idCliente</th>
					<th>Nome</th>
					<th>Produto</th>
				</thead>
				<tbody>
					<tr>
						<td>01</td>
						<td>Pedro</td>
						<td>GS 700</td>
					</tr>
												<tr>
						<td>02</td>
						<td>Gabriel</td>
						<td>Rocket III 2.5</td>
					</tr>
												<tr>
						<td>03</td>
						<td>Christopher</td>
						<td>XTZ 250</td>
					</tr>
				</tbody>
			</table>
		</p>
	</article>			
</section>
{% endblock %}